@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border from values;

.cloudDashboard {
  width: 1000px;
  margin: 0 auto;
  min-height: 500px;
  padding: padding calc(padding * 2);
  display: flex;
  gap: calc(padding * 4);
}

.instancesListContainer {
  flex: 1;
}

.workLogContainer {
  flex: 1;
}
