@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border from values;

.widget {
  height: 100%;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  gap: calc(padding * 2);
  padding: padding;
  border-radius: radius;
  border: border;
}

.widget-header {
  margin: 0;
  color: colorMain;
  font-weight: normal;
}

.widget-body {
  display: flex;
  flex-direction: column;
  gap: padding;

  overflow-y: auto;
  /* scrollbar-color: #b7b7b7 #f1f1f1; */

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    width: 0.5rem;
    border-radius: 0.5rem;
    border: 6px solid white;
    background-color: #b7b7b7;
  }
}
