@value values: '@css/variables.module.css';
@value colorMain, colorSecondary, padding, radius, border from values;

.instances {
  position: relative;
}

.processing {
  pointer-events: none;
}

.processing::after {
  content: 'Processing...';
  position: absolute;
  /* top: 5px; */
  left: 5px;
  right: 5px;
  bottom: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: bold;
}

.btn-add-instance {
  width: max-content;
  padding: padding calc(padding * 2);
  margin-top: auto;

  align-self: center;

  font-size: 14px;

  border-radius: radius;
  border: border;
  background: inherit;
  cursor: pointer;
}

.btn-add-instance:hover {
  animation: glowing 10s infinite;
}

@keyframes glowing {
  0% {
    background-color: inherit;
    box-shadow: 0 0 3px inherit;
  }
  50% {
    background-color: inherit;
    box-shadow: 0 0 3px inherit;
  }
  75% {
    background-color: #e1eaff;
    box-shadow: 0 0 3px #e1eaff;
  }
  100% {
    background-color: inherit;
    box-shadow: 0 0 3px inherit;
  }
}
